<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

include "includes/head.html"


<body>

include "includes/navigation.html"

<section id="home">
    <div class="wrapper">
        <h2 class="page-title">
            Easy file sharing from the command line</h2>
        <div class="row animated fadeInDown">
            <div id="from-terminal" class="box col-md-8 col-md-offset-2 col-xs-12">
                <div class="terminal-top">

                </div>
                <div id="terminal" class="terminal">
                    <code class="code-wrapper"><span class="code-title"># Upload using cURL</span>
                        $ curl --upload-file ./hello.txt {{.WebAddress}}hello.txt {{.WebAddress}}{{.SampleToken}}/hello.txt

                        <span class="code-title"># Using the shell function</span>
                        $ transfer hello.txt
                        ##################################################### 100.0% {{.WebAddress}}{{.SampleToken2}}/hello.txt
                    </code>
                </div>
                <div id="web">
                    <code class="code-wrapper">
                        <span class="code-title"># Upload from web</span>
                        Drag your files here, or <a class="browse" href="#"> click to browse.</a>
                    </code>
                    <input type="file" multiple="multiple" style='display: none;' />
                    <ul class='queue'>
                        <li>
                        </li>
                    </ul>
                    <div class='all-files'>
                        <br>
                        <div>
                            <span class="code-title"># Download all your files</span>
                            <br/>
                            <br/>
                            <a class="download-zip btn-cta" href="#">zip</a> <a class="download-tar btn-cta" href="#">tar.gz</a>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <a href="#features" class="btn-cta btn-home">learn more</i> </a>
            </div>
        </div>
</section>



<section id="features">
    <div class="wrapper container">
        <div class="row  animated fadeInDown ">
            <div class="col-md-3 col-xs-6">
                <i class="icon-terminal"></i>
                <h3>Made for use with shell</h3>
            </div>
            <div class="col-md-3 col-xs-6">
                <i class="icon-link"></i>
                <h3>Share files with a URL</h3>
            </div>
            <div class="col-md-3 col-xs-6">
                <i class="icon-database"></i>
                {{ if .MaxUploadSize }}
                <h3>Upload up to {{ .MaxUploadSize }}</h3>
                {{ else }}
                <h3>Unlimited upload</h3>
                {{ end }}
            </div>
            <div class="col-md-3 col-xs-6">
                <i class="icon-clock"></i>
                {{ if .PurgeTime }}
                <h3>Files stored for {{ .PurgeTime }}</h3>
                {{ else }}
                <h3>Files stored forever</h3>
                {{ end }}
            </div>
        </div>
        <div class="row  animated fadeInDown">
            <div class="col-md-offset-3 col-md-3 col-xs-6">
                <i class="icon-tag"></i>
                <h3>For free</h3>
            </div>
            <div class="col-md-3 col-xs-6">
                <i class="icon-lock"></i>
                <h3>Encrypt your files</h3>
            </div>
            <div class="col-md-3 col-xs-6">
                <i class="icon-lock"></i>
                <h3>Maximize amount of downloads</h3>
            </div>
        </div>
    </div>
</section>

<section id="share">
    <div class="wrapper">
        <h2 class="page-title">Preview your files in the browser!</h2>
    </div>

</section>



include "includes/footer.html"
include "includes/js.html"

</body>

</html>
